extend ../layout
block content
    //
      ul
        for log in logs
          li #{log.type} - #{log.name}
          li=log.value
          br

    canvas#myChart(width='800', height='600')

    script.
      // Get the context of the canvas element we want to select
      ctx = document.getElementById('myChart').getContext('2d')
      myLineChart = new Chart(ctx).Line((new Log).prepData(!{JSON.stringify(logs)}))
      myLineChart.update()
