extend ../layout
block content
    //
      ul
        for log in logs
          li #{log.type} - #{log.name}
          li=log.value
          br

    canvas#myChart(width='800', height='400')

    script.
      // Get the context of the canvas element we want to select
      ctx = document.getElementById('myChart').getContext('2d')
      myLineChart = new Chart(ctx).Bar((new Log()).data(!{JSON.stringify(logs)}))
      myLineChart.update()
