doctype
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/css/bundle.css')
    script(src="/js/vendor.js")
    script(src="/js/app.js")
  body
    header
      h1 My Site
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus